<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <script>
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === 'dark') {
            document.body.setAttribute('data-theme', 'dark');
        }
    </script>

    <div class="container">
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
    </div>

    <script src="{{ '/heptapod.js' | relative_url }}"></script>
    <script src="{{ '/script.js' | relative_url }}"></script>
</body>
</html>
